{
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": "2.6.12",
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-react",
        "@babel/preset-typescript"
    ]
}
