@import '../../../../src/scss/abstract/variables';

.container {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.inputCheckbox {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 100%;
    cursor: pointer;

    input[type='checkbox'] {
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        position: absolute;

        & + .checkbox:before {
            position: absolute;
            content: '\e835';
            color: $palette-sun;
            font-family: 'Material Icons', 'sans-serif';
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            transition: all 0.2s ease;
            z-index: 1;
        }

        &:checked + .checkbox:before {
            content: '\e834';
            color: $palette-sun;
        }

        &:disabled + .checkbox:before {
            color: $palette-mishka;
        }
    }
}
